{% extends 'item/base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_item.css') }}" />
<link rel="stylesheet" href="{{ url_for('mypage.static', filename='css/style_mypage.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">
{% endblock %}

{% block js %}
{% endblock %}

{% block title %}
購入取引中連絡
{% endblock %}

{% block content %}
  

<!--itemsが空でないとき-->
{% if items %}
<div class="main-wrap">
  <div class="h2"><h2 class="midasi"><span>出品取引中商品一覧</span></h2></div>
{% for item in items %}
  <div class="listing-wrap">
    <div class="list-img">
    <div class="list-tape"></div>
      <img
        src="{{ url_for('items.image_file', filename=item.Image.image_path) }}"
        class="card-img"
        alt="..."
      />
    </div>
    <div class="list-text">
      <div class="list-user">
        <!-- <h5 class="">商品名:{{ item.Item.name }}</h5> -->
        <!-- 商品名が11文字を超える場合11文字と… -->
        {% if item.Item.name|length > 11 %}
        <h5 class="">商品名：{{ item.Item.name[:11] }}…</h5>
        {% else %}
        <h5 class="">商品名：{{ item.Item.name }}</h5>
        {% endif %}
        <!-- <p class="">価格：{{ item.Item.price }}円</p> -->
        <p class="">価格：{{ "{:,}".format(item.Item.price) }}円</p>
        <!-- <p class="">商品概要:{{ item.Item.description }}</p> -->
        <!-- 商品説明が15文字を超える場合15文字と… -->
        {% if item.Item.description|length > 15 %}
        <p class="">商品説明：{{ item.Item.description[:15] }}…</p>
        {% else %}
        <p class="">商品説明：{{ item.Item.description }}</p>
        {% endif %}
        <p class="">購入者：{{ item.User.username }}さん</p>
      </div>
      <div class="button013">
        <a
          href="{{ url_for('mypage.selltrading_message', user_id=user.id, item_id=item.Item.id) }}"
          >取引連絡へ</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div> 
  {% else %}
  <div class="kokuban-s2">
    <p>出品取引中の<br>商品はありません</p>
  </div>
  {% endif %} {% endblock %}
