body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding-bottom: 15vh;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
.support-container {
  width: 60%;
  margin: 50px auto 150px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.support-container h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

.support-container p {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 60px;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
}
.container textarea {
  width: 100%;
}
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}
