/* CSS スタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 15vh;
  background-color: #f4f4f4;
}

.topixcontainer {
  width: 80%;
  margin: 20px auto 150px auto;
}

.topic {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.topic p {
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.details {
  display: none;
}

.summary {
  display: block;
}
.topixbtn {
  margin-top: 10px auto;
  padding: 8px 15px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  transition: background-color 0.3s ease;
}