<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/starwarsintro.css') }}">
  <title>Document</title>
</head>

<body>
  <div class="star-wars-intro">

    <!-- 最初に表示するタイトルテキスト -->
    <p class="intro-text">
      大変申し訳ございません。
    </p>

    <!-- 「ロゴ画像」か「テキストロゴ」を挿入 -->
    <h2 class="main-logo">
        500 Internal Server Error
    </h2>


    <!-- メインコンテンツの挿入 -->
    <div class="main-content">

      <div class="title-content">

        <p class="content-header">
          サーバーの内部エラーが発生しました。
        </p>

        <p class="content-body">
        平素は格別のお引き立てを賜り厚く御礼申し上げます。このたびは、誠に申し訳ございません。サーバーの内部にエラーが発生している状態です。<br>
        お手数ですが、もう一度URLをご確認の上、再度アクセスをお願いいたします。<br>  
        </p>


        <!-- ボタンやリンクを挿入 -->
        <a href="/" class="space-button">トップページへ戻る</a>

      </div>

    </div>


  </div>
</body>

</html>