{% extends "auth/base.html" %}

{% block title %}
パスワード再設定画面
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('auth.static', filename='css/reset_password.css') }}" />
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}


<div class="container">
  <h2>パスワード再設定メール送信フォーム</h2>
  <form action="{{ url_for('auth.reset_password_complete') }}" method="post">
    
    <!-- csrfトークン -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="password_hash" value="{{ password_hash }}">
    <div class="group">
      <label>パスワード</label>
      {{ form.password(class="form-control", placeholder="新しいパスワード") }}
    </div>
    <input type="submit" value="送信">
  </form>
</div>



{% endblock %}
